.dashboard {
    padding: 0;
}

.main {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    margin: 0px;
}

.dashboardContainer {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    margin: 0 0 200px 0;
    min-width: 80%;
    max-height: 80%;
}

.datagridContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 700px;
    flex-direction: row;
}

.sidenavContainer {
    min-width: 190px;
    min-height: 100%;
}

.createCategoryContainer {
    padding: 30px;
    margin-left: 70%;
}

.popupHeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: auto;
}

.popupHeader {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2f2f2f;
    text-align: center;
    margin: auto;
}

.popupContentContainer {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    padding-bottom: 30px;
}

.muiSelectContainer {
    width: 200px;
    margin: auto;
}

.confirmTxnsContainer {
    text-align: center;
    line-height: 8px;
    max-width: 500px;
    justify-content: center;
    padding: 3px;
    margin: auto;
}