.page {
    padding: 0;
}
.mainDesktop {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    margin: 0px;
}

.bodyDesktop {
    display: flex;
    flex-direction: column;
    min-width: 80%;
    min-height: 100%;
    margin: 0;
}

.mainMobile {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    margin: 0px;
}

.bodyMobile {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding-top: 35px;
}

.page {
    display: flex;
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
}

.nav {
    display: flex;
    height: 100%;
    min-width: 17%;
}

.main {
    display: flex;
    height: 100%;
    width: calc(100% - 240px);
    margin: auto;
}