html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.dashboard-container {
  width: 100%;
  height: 100%;
  display:flex;
}

.auth_container {
  position: absolute;
  bottom: 0;
  left: 10px;
}

.auth {
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.auth:hover {
  text-decoration: underline;
}

.account {
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.account:hover {
  text-decoration: underline;
}

.data-grid {
  height: 600;
  width: "60%";
  margin-right: "auto";
  padding-top: "5rem";
}

.side_nav_container {
  padding: 10px;
  max-width: fit-content;
  height: 100vh;
  background-color: rgb(63, 63, 63);
}

.side_nav_container > hr {
  border: 0;
  border-top: 1px solid #ccc;
}

.accounts_side_nav {
  font-size: 18px;
  color: white;
  cursor: pointer;
  font-weight: 300;
}

.accounts_side_nav:hover {
  text-decoration: underline;
  font-weight: 400;
}

.transactions_side_nav {
  font-size: 18px;
  color: white;
  cursor: pointer;
  font-weight: 300;
}

.transactions_side_nav:hover {
  text-decoration: underline;
  font-weight: 400;
}

.investments_side_nav {
  font-size: 18px;
  color: white;
  cursor: pointer;
  font-weight: 300;
}

.investments_side_nav:hover {
  text-decoration: underline;
  font-weight: 400;
}

.transfers_side_nav {
  font-size: 18px;
  color: white;
  cursor: pointer;
  font-weight: 300;
}

.transfers_side_nav:hover {
  text-decoration: underline;
  font-weight: 400;
}

.visualize_side_nav {
  font-size: 18px;
  color: white;
  cursor: pointer;
  font-weight: 300;
}

.visualize_side_nav:hover {
  text-decoration: underline;
  font-weight: 400;
}

.account_dropdown_list {
  margin: 1rem;
  color: white;
  cursor: pointer;
  padding-right: 10px;
  font-weight: 300;
}

.account_dropdown_list:hover {
  font-weight: 400;
  text-decoration: underline;
}

.plaidLink_side_nav {
  font-size: 18px;
  color: white;
  cursor: pointer;
  font-weight: 300;
}

.plaidLink_side_nav:hover {
  text-decoration: underline;
  font-weight: 400;
}

.pie-chart {
  width: 100%;
  height: 100%;
  margin-right: 50%;
}

.data-container {
  margin-top: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
  display: flex;
  width: 100%;
  height: 100%;
}

.datagrid-container {
  min-width: 50%;
  min-height: 400px;
  margin-right: auto;
}

.chart-container {
  min-width: 50%;
  min-height: 400px;
  margin-left: auto;
}

.sideNav-container {
  min-width: 15%;
  min-height: 100%;
}

.pie-chart-container {
  margin: 0;
}

.visual-data-button {
  margin-top: 3rem;
}

.visualize-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.visualize {
  margin-right: auto;
  display: inline-block;
  max-width: 900px;
  height: 100vh;
  margin: 5rem;
}

.pie {
  padding: 30px;
  width: 500px;
  height: 50%;
  margin: 5rem;
}

.tree {
  padding: 30px;
  width: 100%;
  height: 300px;
  margin: 5rem;
}

.bar {
  padding: 30px;
  width: 100%;
  height: 300px;
  margin: 5rem;
}

.institutions-container {
  width: 100%;
  height: 100%;
  display:flex;
}

.institutions-datagrid {
  margin-top: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
  display: flex;
  width: 100%;
  height: 100%;
}

.signIn-container{
  display: flex;
}

.signUp-container{
  display: flex;
}